In [3]:
import pandas as pd

In [ ]:
**The dataset is available ðŸ‘‰:** https://archive.ics.uci.edu/ml/datasets/Iris

In [5]:
data  = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/bezdekIris.data")

In [7]:
data.head(2)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa

In [8]:
data.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [9]:
data.shape

(149, 5)